@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.header {


    background-image: url(../img/coffee-bgnd.jpeg);
    background-size: cover;
    background-position: center;
    height: 388px;

}

h1 {
    font-size: 78px;
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    color: #69996b;
}

.main {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/*
HW_06_TEXT
1. Нарисуйте перекрывающиеся олимпийские кольца, как на флаге.
2. Нарисуйте шахматную доску (без полей с буквами и цифрами).
3. В соответствии с эскизом оформите CSS для табличной верстки,
при которой в каждой строке  две страны...
Например, отцентрируйте заголовок на фоне чашки, сделайте красивый шрифт для
каждого типа надписи, красивый фон для каждой страны и т.д.
 */